@import url("http://fonts.googleapis.com/css?family=Lobster|Raleway:700,400,300 Playfair+Display:700");

.container-fluid {
    padding: 0;
    margin: 0;
}
#our_story, #menu, #review, #contact_us {
    min-height: 600px;
}
.nav li a:hover {
    background-color: transparent;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color:#fff ;
    background-color: rgba(17, 17, 17, .5);
}
.navbar-default .navbar-nav > li > a {
    color: #fcfcfc;
    text-shadow: 1px 1px 2px #0a0a0a
}
.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li a:focus {
    color: #f8512f;
    background-color: rgba(17, 17, 17, .2);
}
nav.navbar {
    position: absolute;
    top: 100;
    right: 0;
    left: 0;
    z-index: 20;
}
.navbar-brand > img {
    margin-top: -7px;
}
.carousel {
    margin-bottom: 60px;
}
.carousel-caption {
    padding: 60px;
    z-index: 10;
}
.carousel-inner .item {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
}
#carousel_image_one {
background-image: url("../img/wood-2.jpg");
}
#carousel_image_two {
background-image: url("../img/restaurant-2.jpg");
}
#carousel_image_three {
background-image: url("../img/farm-2.jpg");
}
.carousel_image_logo {
    max-height: 300px;
}
.carousel_button {
    color: white;
    background-color: #f8512f;
    border-color: transparent;
}
.carousel_button:hover {
    background-color: #d34326;
    border-color: inherit;
}
.carousel-caption p {
    color: #f7f7f7;
    font-size: 16px;
}
#our_story .row {
    margin-top: 30px;
}
#our_story h2 {
    font-family: 'Lobster', sans-serif;
    color: #f8512f;
    font-size: 9rem;
    text-shadow: 1px 1px 5px #0a0a0a;
}
#our_story h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    margin-top: 0;
}
#our_story p {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}
#story_year {
    font-family: 'Playfair Display', sans-serif;
    font-size: 200px;
    font-weight: 700;
    z-index: -1;
    position: absolute;
    color: rgba(149, 147, 147, 0.2);
}
/* revie sec */
#review {
    background-image: url("../img/food_review.jpg");
    background-size: cover;
    background-attachment: fixed;
}
#review .center {
    margin: 0 auto;
    float: none;
    background-color: rgba(20, 20, 20, .6);
    padding: 10px;
    margin-top: 145px;
    border-radius: 5px;
}
#review h1 {
    font-family: 'Lobster', cursive;
    font-size: 5em;
    color: #f8512f;
    text-shadow: 1p 1px 5px #0a0a0a;
}
#review p {
    color: #fff;
    font-family: 'Raleway',sans-serif;
    font-weight: 300;
    font-size: 2rem;
    text-shadow: 1px 1px 5px #0a0a0a;
}
/* menu section */
#menu {
    background-image: url('../img/black_linen.png');
    background-size: cover;
    background-attachment: fixed;
    padding: 3em;
}
#menu .navbar {
    background-color: #fff;
}
#menu h1 {
    color: #fff;
    font-family: 'Lobster',cursive;
    font-size: 6em;
    text-shadow: 1px 1px 5px #0a0a0a;
}
#menu h3 {
    text-align: center;
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 2em;
}
#menu a {
    color: rgb(214, 189, 49);
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
}
#menu p {
    text-align: justify;
    font-family: 'Raleway',sans-serif;
    font-weight: 300;
}
.food {
    padding: 1rem;
}
#menu .nav li a:hover {
    background-color: rgb(139, 139, 139);
    border-color: transparent;
}
#menu .nav-justified li a {
    margin-bottom:  -5px;
}
#menu .nav-tabs li a {
    border: none;
}
/* contact sect */
.contact_form {
    background-color: #ff6633;
    color: white;
    border: 1px solid floralwhite;
}
.contact_form .form {
    padding: 5% 0;
}
#contact {
    background-color: #f8512f;
}
#contact h1 {
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    color: floralwhite;
    font-size: 4rem;
}
#contact p {
    font-family: 'Raleway',sans-serif;
    font-weight: 300;
    color: floralwhite;
    font-size: 1.7
    rem;
}
#contact_fine_print {
    font-size: 1.5rem !important;
    text-align: center;
}
address {
    color: floralwhite;
    font-family: 'Raleway',sans-serif;
    font-weight: 300;
}
.contact_bottom {
    margin-top: 50px;
    margin-bottom: 25px;
}
.required::after {
    content: '*';
    font-size: 1.2rem;
}